@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Nothing+You+Could+Do&display=swap');
body{
    font-family: 'corinthia', serif;
}
header h1{
    font-size: 7em;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    color: #478778;
}
header img{
    width:600px;
    display: block;
    margin: auto;
}
h2{
    font-size: 3em;
    text-align: center;
    color: #478778;
}
main{
    font-family: 'nothing you could do', serif;
}
#personal_img{
    width: 400px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
#text{
    font-size: 2em;
    padding-top: 30px;
    padding-bottom: 100px;
}
footer{
    display: flex;
    justify-content: space-evenly;
    margin-top:50px;
}
.nav_link{
    text-decoration: none;
}
.nav_img{
    width: 200px;
    display:block;
    margin-bottom: 10px;
}
.nav_img:hover{
    transform: rotate(5deg);
}
.nav_text{
    text-align: center;
    margin-top: 0;
    font-size:2em;
    color: #478778;
}
.nav_text:hover{
    color:#D8A373;
}